.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
.container {
  width: 50%;
  height: 100%;
  position: relative;
  text-align: center;
}
.userInfoCont{
  width: 30%;
  position: relative;
  float: right;
}

header{
  background-color: white;
  margin: 10px;
  height: 110px;
  border-bottom: 2px solid #B0C4DE;
}

h1{
  font-family: 'Lobster', cursive;
  color: #B0C4DE;
  position: relative;
  float: left;
  font-size: 3em;
  margin: 20px;
}

h2{
  margin: 20px;
  color: #1c6551;
}

h4{
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
}


input, textarea {
  line-height: 1em;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  border: 3px solid #B0C4DE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

button{
  background: transparent;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border: 1.5px solid #B0C4DE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: 'Abel', sans-serif;
}

select{
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid #B0C4DE;
  background: transparent;
}