<div class='userInfoCont'>
  <h4 id='userMsg'>Welcome, <%= current_user.first_name %>!</h4>
  <button id='logout' action='/logout' type="submit">Log Out</button>
  <input id='userID' type="hidden" value=<%= current_user.id %>>
</div>