<div class="container">

  <div id="friends">
    <h2>Friends</h2>
    <button id='friendslistButton' action='/friends' type="submit">All Friends</button>  <button id='friendrequestButton' action='/friendrequests' type="submit">Friend Request</button>

    <form id='search' action='/searchfriends' method='GET'>
      <input type='text' name='email' placeholder='saech by email'>
      <button type="submit" >Search</button>
    </form>
    <ul id='friendlist'><ul>
  </div>

<div id='profile'>
  <div id="bio">
    <h2>Your Bio</h2>
    <p> <%= current_user.bio %> </p>
    <form class='bioEditCall' action='/profile' method='POST'>
      <input type="hidden" name="_method" value="PUT">
      <button type="submit" >Edit Profile</button>
    </form>
  </div>
  <div id="values">
    <h2>Your values</h2>
  </div>
</div>


</div>
