<div class="container">

  <div id="friends">
    <h2>Friends</h2>
    <button id='friendslistButton' action='/friends' type="submit">All Friends</button>  <button id='friendrequestButton' action='/friendrequests' type="submit">Friend Request</button>
    <ul id='friendlist'><ul>
  </div>

  <div id="values">
    <h2>Your values</h2>
  </div>

</div>
